################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
.vs/
.vscode/
*.vs/
bin/
obj/
*.cache
*.dll
*.exe
*.pdb
*.suo
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
*.sonarqube
*.opensdf
*.sonarqube
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
appsettings.Local.json
node_modules/
/node_modules/
/node_modules
launchSettings.json
